
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 25px 30px;
  border-radius: 20px;

  margin-bottom: -25px;
  background: linear-gradient(135deg, #065f46, #10b981);
  color: white;

  box-shadow: 0 10px 30px rgba(16, 185, 129, 0.25);
}

/* IZQUIERDA */
.headerLeft {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ICONO */
.headerIcon {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
}

.headerLeft span {
    padding: 8px;
        border-radius: 8px;
        color: white;
  font-size: 30px;
}

/* TITULO */
.headerTitle {
  font-size: 28px;
  font-weight: 800;
  margin: 0;
}

/* SUBTITULO */
.headerSubtitle {
  font-size: 14px;
  opacity: 0.9;
  margin-top: 4px;
}

/* BOTONES DERECHA */
.headerActions {
  display: flex;
  gap: 10px;
}



.searchBox {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: -20px;
}
.swal2-container {
    z-index: 20000 !important;
}
.searchBox input {
    width: 260px;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #d1fae5;
    outline: none;
    transition: 0.3s;
    background: #f0fdf4;
}

.searchBox input:focus {
    border-color: #22c55e;
    box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.2);
}

/* BOTONES */
.searchBox button {
    padding: 11px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.searchBox button:first-of-type {
    background: #22c55e;
    color: white;
}

.searchBox button:first-of-type:hover {
    background: #16a34a;
}

.searchBox button:last-of-type {
    background: #e5e7eb;
    color: #111827;
}

.searchBox button:last-of-type:hover {
    background: #d1d5db;
}

/* ===== TABLE ===== */
.tableContainer {
    background: white;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    border: 1px solid #ecfdf5;
}

.table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 12px;
}

.table th {
    background: linear-gradient(135deg, #14532d, #166534);
    color: white;
    padding: 12px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.table td {
    padding: 12px;
    border-bottom: 1px solid #f0fdf4;
    font-size: 14px;
}

.table tr:hover {
    background: #f0fdf4;
    transition: 0.2s;
}

/* ===== NO DATA ===== */
.noData {
    text-align: center;
    padding: 20px;
    color: #6b7280;
}

/* ===== ICON ACTION ===== */
.iconDelete {
    color: #ef4444;
    cursor: pointer;
    transition: 0.2s;
}

.iconDelete:hover {
    transform: scale(1.2);
    color: #dc2626;
}